language: c

cache:
 directories:
   - fastFM-core/externals/OpenBLAS

env:
    - TRAVIS_PYTHON_VERSION="2.7"
    - TRAVIS_PYTHON_VERSION="3.6"

git:
    submodules: false

before_install:
    # use credentials
    - sed -i -e "s|git@github.com:|https://$CI_TOKEN@github.com/|" .gitmodules

install:
    - git submodule update --init --recursive
    - docker build -t fastfm-test .

script:
    - docker run --rm -i -v $(pwd):/fastfm/ fastfm-test /bin/bash -s < docker_run_tests.sh

